body {
  background-color: gold;
  color: white;
  text-align: center;
}

button {
  background-color: rgb(138,43,226);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
}
